.about-img.background-graytwo
  .container
    .col-xs-12
      %h3.text-bold.text-white Know the team
      %h4.text-green.font-size-2em You're in a good company
.team
  .container.text-center.text-darkblue
    %p.font-size-2em Exceptional people, execptional team
    .row
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/tim.png', :class => "img-circle")
          %p.text-bold Tim Draper
          %p.text-gray CEO        
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/joao.png', :class => "img-circle")
          %p.text-bold Joâo Oliveira
          %p.text-gray COO
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/ilya.png', :class => "img-circle")
          %p.text-bold Ilya Brotzky
          %p.text-gray CTO
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/ted.png', :class => "img-circle")
          %p.text-bold Ted Gonder
          %p.text-gray CCO
    .row.text-center
      .col-xs-6.col-sm-3
        %p.text-green.text-bold 1.600
        %p.text-gray Students
      .col-xs-6.col-sm-3
        %p.text-green.text-bold 30
        %p.text-gray Mentors        
      .col-xs-6.col-sm-3
        %p.text-green.text-bold 500
        %p.text-gray Hired students
      .col-xs-6.col-sm-3
        %p.text-green.text-bold 10
        %p.text-gray Bootcamps
#timel.background-lightgray
  .container
    .timeline
      %ul#timeline
        %li.work
          %input.radio#work5{:name => 'works', :type => 'radio', :checked => true}
          .relative
            %label.text-bold.text-darkblue{:for => 'work5'} The Story of World Tech Makers
            %span.text-green.text-bold.date 2017
            %span.text-gray.datetxt Dev positions
            %span.circle
          .content
            %p.font-size-2em RoR is one of the most popular Ruby frameworks, scalable, robust and powerful. Use by Github, Bootcamp, Twitter and more. Improve your career learing this awesome language.
        %li.work
          %input.radio#work4{:name => 'works', :type => 'radio'}
          .relative
            %label{:for => 'work4'} Lorem ipsum dolor sit amet
            %span.text-green.text-bold.date 2016
            %span.text-gray.datetxt Dev positions
            %span.circle
          .content
            %p.font-size-2em RoR is one of the most popular Ruby frameworks, scalable, robust and powerful. Use by Github, Bootcamp, Twitter and more. Improve your career learing this awesome language.
        %li.work
          %input.radio#work3{:name => 'works', :type => 'radio'}
          .relative
            %label{:for => 'work3'} Lorem ipsum dolor sit amet
            %span.text-green.text-bold.date 2015
            %span.text-gray.datetxt Uncovered
            %span.circle
          .content
            %p.font-size-2em RoR is one of the most popular Ruby frameworks, scalable, robust and powerful. Use by Github, Bootcamp, Twitter and more. Improve your career learing this awesome language.
        %li.work
          %input.radio#work2{:name => 'works', :type => 'radio'}
          .relative
            %label{:for => 'work2'} Lorem ipsum dolor sit amet
            %span.text-green.text-bold.date 2014
            %span.text-gray.datetxt Qualified devs
            %span.circle
          .content
            %p.font-size-2em RoR is one of the most popular Ruby frameworks, scalable, robust and powerful. Use by Github, Bootcamp, Twitter and more. Improve your career learing this awesome language.
        %li.work
          %input.radio#work1{:name => 'works', :type => 'radio'}
          .relative
            %label{:for => 'work1'} Lorem ipsum dolor sit amet          
            %span.text-green.text-bold.date 2013
            %span.text-gray.datetxt Qualified devs
            %span.circle
          .content
            %p.font-size-2em RoR is one of the most popular Ruby frameworks, scalable, robust and powerful. Use by Github, Bootcamp, Twitter and more. Improve your career learing this awesome language.
.ourmentors.background-white
  .container.text-center
    %p.text-gray.text-bold Our Mentors
    .row
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/adeline.png', :class => "img-circle")
          %p.text-bold Adeline Diaz
          %p.text-gray Founder Rails Girls
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/aaron.png', :class => "img-circle")
          %p.text-bold Aaron Cain
          %p.text-gray CTO at Github
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/ilya.png', :class => "img-circle")
          %p.text-bold Luella Reynolds
          %p.text-gray Full-stack Developer
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/ted.png', :class => "img-circle")
          %p.text-bold Frederick Jimenez
          %p.text-gray Founder Rails Bootcamp
    .row
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/adeline.png', :class => "img-circle")
          %p.text-bold Adeline Diaz
          %p.text-gray Founder Rails Girls
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/aaron.png', :class => "img-circle")
          %p.text-bold Aaron Cain
          %p.text-gray CTO at Github
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/ilya.png', :class => "img-circle")
          %p.text-bold Luella Reynolds
          %p.text-gray Full-stack Developer
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/ted.png', :class => "img-circle")
          %p.text-bold Frederick Jimenez
          %p.text-gray Founder Rails Bootcamp   
    .row
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/adeline.png', :class => "img-circle")
          %p.text-bold Adeline Diaz
          %p.text-gray Founder Rails Girls
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/aaron.png', :class => "img-circle")
          %p.text-bold Aaron Cain
          %p.text-gray CTO at Github
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/ilya.png', :class => "img-circle")
          %p.text-bold Luella Reynolds
          %p.text-gray Full-stack Developer
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/ted.png', :class => "img-circle")
          %p.text-bold Frederick Jimenez
          %p.text-gray Founder Rails Bootcamp   
    .row
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/adeline.png', :class => "img-circle")
          %p.text-bold Adeline Diaz
          %p.text-gray Founder Rails Girls
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/aaron.png', :class => "img-circle")
          %p.text-bold Aaron Cain
          %p.text-gray CTO at Github
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/ilya.png', :class => "img-circle")
          %p.text-bold Luella Reynolds
          %p.text-gray Full-stack Developer
      .col-xs-6.col-md-3
        .box.background-lightgray.border-radius-normal
          =image_tag('team/ted.png', :class => "img-circle")
          %p.text-bold Frederick Jimenez
          %p.text-gray Founder Rails Bootcamp             
.teachtechnology.background-lightgray
  .container
    %p.text-center.text-bold.text-darkblue We love to teach but also build technology
    %p.text-center.text-gray.font-size-2em Some of our work includes:
    .row
      .col-md-6.col-md-push-6.text-center
        =image_tag('screens/bo.png')
      .col-md-5.col-md-pull-6.col-md-offset-1
        %p BETA
        %p.text-darkblue.text-bold.font-size-2em Bootcamps.online: eLearning
        %p.text-gray.font-size-2em Emerging Markets
        %p.text-gray Take online classes in development, design, business and investing. Join our LIVE courses bootcamps for a steeper learning curve or learn at your own pace with our pre-recorded classes and online content, 24/7 from the comfort of your home.
    .row
      .col-md-6.text-center
        =image_tag('screens/remoto.png')
      .col-md-5.col-md-offset-1
        %p.text-darkblue.text-bold.font-size-2em Remoto
        %p.text-gray.font-size-2em Job matching app
        %p.text-gray Our job matching app matches the top digital talent our there. Whether you are a company looking for developers or a developer looking for a job, register for free and access a growing database of trained professionals and global opportunities: remote or on-site.       
    .row
      .col-md-6.col-md-push-6.text-center
        =image_tag('screens/nativo.png')    
      .col-md-5.col-md-pull-6.col-md-offset-1
        %p.text-darkblue.text-bold.font-size-2em Nativo Digital
        %p.text-gray.font-size-2em Everyone can code
        %p.text-gray Our job matching app matches the top digital talent our there. Whether you are a company looking for developers or a developer looking for a job, register for free and access a growing database of trained professionals and global opportunities: remote or on-site.
    .row
      .col-md-6.text-center
        =image_tag('screens/webuild.png')
      .col-md-5.col-md-offset-1
        %p.text-darkblue.text-bold.font-size-2em Agile digital hand-crafting
        %p.text-gray Our development agency builds mobile and web applications for startups and big corporations in the United States, South America, Asia and Europe. More than software, we create, design and develop digital journeys, built for ready.   
.backed.background-white
  .container.text-center#logos
    %p.text-bold.font-size-2em.text-darkblue Backed by experts
    =image_tag('backedlogos.png', :class => "img-responsive")
    %p.text-bold.text-darkblue We're growing fast, and we'd love for you to join us.
    %p.font-size-2em.text-gray As an early member of our team, you'll have the opportunity to make tremendous impact.
    %span= link_to 'Say hello', '#', { :class=> "border-radius-normal button-green" }
.container#logos
  =image_tag('logos2.png', :class => "img-responsive")        