#terms-img.background-graytwo
  .container
    .col-xs-12
      %h3.text-bold.text-white= t('terms.header.title')
.container
  .row
    .col-xs-10.col-xs-offset-1
      %p.terms.text-justify.gray-text
        = t('terms.content.terms_html') 